<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="style.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      function Typemouseover(x){
        x.style.color = "white";
        x.style.backgroundColor = "black";
      }
      function Typemouseout(x){
        x.style.color = "black";
        x.style.backgroundColor = "white";
      }
      function Navmouseover(x){
        x.style.textDecoration = "underline";
        x.style.textDecorationColor= "#0000FF";
      }
      function Navmouseout(x){
        x.style.textDecoration = "none";
      }
      function Mymouseover(x){
        var color_ = x.style.color;
        x.style.color = "white";
        x.style.backgroundColor = color_;
      }
      function Mymouseout(x){
        var color_ = x.style.backgroundColor;
        x.style.color = color_;
        x.style.backgroundColor = "rgba(1,1,1,0)";
      }

    </script>

    <!-- 註冊modal用 -->
    <script>
    $(document).ready(function(){
        $("#signUpBtn").click(function(){
            $("#signUpModal").modal();
        });
        $('#opinionForm').submit(function() {
          if(<%=login%>===false){
            alert("請先登入以繼續");
            return false;
          }

        });
    });
    </script>

    <!-- 登入modal用 -->
    <script >
    $(document).ready(function(){
        $("#LogInBtn").click(function(){
            $("#LogInModal").modal();
        });
    });
    </script>
    <style type="text/css">
      h2{
        font-weight: 10px;
        padding-left: 2%;
      }
      
    </style>
  <body>
    <nav class="navbar navbar-fixed-top" style="background-color: white">
      <a class="navbar-brand" href="#" onclick="location.href='landingpage'"><img src="logo.png" style = "height:45px;"></a>
      <div class="collapse navbar-collapse col-md-offset-2" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="width: 500px; padding-top: 25px;">
          <a class="nav-item nav-link active" href="#" onclick="location.href='surfReview'" style="font-size: 20px;color: black;margin-left: 5%;"onmouseover="Navmouseover(this)" onmouseout="Navmouseout(this)" >瀏覽評論</a>
          <a class="nav-item nav-link col-md-offset-1" href="#" style="font-size: 20px; padding-top: 5px; color: black; " onmouseover="Navmouseover(this)" onmouseout="Navmouseout(this)"onclick="location.href='rule'">發表守則</a>
          <a class="nav-item nav-link col-md-offset-1" href="#" style="font-size: 20px;color: black;" onmouseover="Navmouseover(this)" onmouseout="Navmouseout(this)"onclick="location.href='aboutUs'">關於我們</a>
          <!-- 登入才有的 -->
          <a class="nav-item nav-link col-md-offset-1" href="#" style="font-size: 20px;color: #f74a3d;" onmouseover="Navmouseover(this)" onmouseout="Navmouseout(this)"onclick="location.href='reviewPost'">我要發表</a>
        </div>
        <div class="navbar-nav" style="width: 40%; padding-top: 25px; float: right;">
          <a href="#"><img src="facebook.png" style = "height:25px;"></a>
          <a href="#"><img src="instagram.png" style = "height:25px;"></a>
          <a href="#"><img src="twitter.png" style = "height:25px;"></a>

          <%if (login){ %>
          <span>Hi, <%=username%></span>
          <button onmouseover="Mymouseover(this)" onmouseout="Mymouseout(this)" id="signUpBtn" style="height: 25px;width: 80px; border-color:#FF3333;color:#FF3333; ">我的檔案</button>
          <button onmouseover="Mymouseover(this)" onmouseout="Mymouseout(this)" id="signUpBtn" style="height: 25px;width: 60px; border-color:#FF3333;color:#FF3333;"" onclick="location.href='logout_l'"">登出</button>
          <% }else{%>
          <button onmouseover="Mymouseover(this)" onmouseout="Mymouseout(this)" id="signUpBtn" style="margin-left: 20%; height: 25px;width: 60px; border-color:#FF3333;color:#FF3333; ">註冊</button>
          <button onmouseover="Mymouseover(this)" onmouseout="Mymouseout(this)" id="LogInBtn" style="height: 25px;width: 60px; border-color: #FF3333; color:#FF3333;" >登入</button>
          <%}%>
        </div>
      </div>
    </nav>
    <div class="box container" style="margin-top: 10%; margin-left: 10%;">
      <%for(var j =0; j< thisPost.length;j++) {%>
      <div class="reviewHeader">
        <div class="row">
          <h2 class="col-md-6"><%=thisPost[j].thisPosttitle%></h2> <!-- 要改的 -->

            <div class="col-md-3" style="margin-top: 2.5%;" id="Beers" align="">
              <%for(var i=0;i< thisPost[j].thisPoststar;i++){%> 
              <img src="fullBeerCup.svg" style="height: 50px; width:auto;">
              <%}%> 
              <%for(var i=0;i< 5-thisPost[j].thisPoststar;i++){%> 
              <img src="emptyBeerCup.svg" style="height: 50px; width:auto;">
              <%}%> 
            </div>


          <div class="col-md-3" style="margin-top: 2.5%;">
          <%if(thisPost[j].thisPostowner==username){%> 
          
            <button onmouseover="Mymouseover(this)" onmouseout="Mymouseout(this)" style=" border-color: #FF3333;color:#FF3333;" onclick="location.href='reviseReview'">編輯貼文</button>
            <form action="/reviewDetail" method="POST">
            <button onmouseover="Mymouseover(this)" onmouseout="Mymouseout(this)" type="submit"  style="border-color: #FF3333;color:#FF3333;" name='postDelete' value='<%=thisPost[j]._id%>'>刪除貼文</button>
            </form>
          <%}%>  
          </div>
        </div>
      </div>
      <div class="review">
        <p><%=thisPost[j].thisPostcontent%></p>
      </div>
      <div class = "reviewFooter">
      <form id="opinionForm" action="/reviewDetail" method="POST">
        <div class="col-md-3">
          <button style="float: left;border:none;">
            <img src="留言.png" style="height: 70%;">
          </button>
          <p class="commentNumber" style="padding-left: 3%; font-size: 30px;"><%=thisPost[j].thisPostresponsenum%></p> 
        </div>
        <div  class="col-md-3">
          <button name="postAgree" style="float: left; border:none;" >
            <img src="agree.png" style="height: 70%;">
          </button>
          <p class="agreeNumber" style="padding-left: 3%; font-size: 30px;"><%=thisPost[j].thisPostagree%></p>
        </div>
        <div  class="col-md-3">
          <button name="postDisagree" style="float: left; border:none;">
            <img src="disagree.png" style="height: 70%;">
          </button>
          <p class="disagreeNumber" style="padding-left: 3%; font-size: 30px;"><%=thisPost[j].thisPostdisagree%></p>
        </div>
        <div class="col-md-3">
          <button name="postNeutral" style="float: left;border:none;" >
            <img src="圍觀.png" style="height: 70%;">
          </button>
          <p class="seeNumber" style="padding-left: 3%; font-size: 30px;"><%=thisPost[j].thisPostneutral%></p>
        </div>
        </form>
      </div>
      <%}%>
      <div>

        <form action="/reviewDetail" method="POST">
          <div style="border-top:1px solid #FF3333; border-bottom:1px solid #FF3333">
              <%for(var j =0; j< responses.length;j++) {%>     
            <div style="border-top:1px solid #FF3333; border-bottom:1px solid #FF3333">
              <a class="r" style="font-size: 20px;"><%=responses[j].responseWriter%></a>
             
              
              <div class="metadata">
                <span class="date"><%=new Date(responses[j].responseTime)%></span>
              </div>
              <div class="text" style="font-size: 20px;">
                <%=responses[j].response%>
              </div>
            <%if (responses[j].responseWriter==username){%>
              <form action="/reviewDetails" method="POST">  
                <button type="submit" name='responseDelete' value='<%=responses[j]._id%>' style="border-color: #0000FF;color:#0000FF;margin-bottom: 1%;margin-top: 2%;"onmouseover="Mymouseover(this)" onmouseout="Mymouseout(this)">刪除留言
                </button>
                
              </form>
              <%}%>
            </div>
              <%}%>
          </div>
<%if (login){ %>
          <div style="text-align: center;">
            <h2 >我要留言</h2>
            <textarea name='response' style=" margin-top: 1%;" rows="10" cols="80" placeholder="有什麼話想對Po文者說呢..."></textarea>
            <br>
            <button onmouseover="Mymouseover(this)" onmouseout="Mymouseout(this)" type="submit"  style="border-color: #FF3333;color:#FF3333;width:8%;margin-bottom: 1%; ">取消</button>
            <button onmouseover="Mymouseover(this)" onmouseout="Mymouseout(this)" type="submit"  style=" border-color: #FF3333;color:#FF3333;width:8%; margin-bottom: 1%;">送出</button>
          </div>
                    <% }else{%>
<h2>請先登入以留言</h2>
    <%}%>
        </form>




      </div>
    </div>
     <!-- 註冊modal -->
    <div class="container">
      <!-- Modal -->
      <div class="modal fade" id="signUpModal" role="dialog">
        <div class="modal-dialog">   
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px; ">
            <label style="margin-top:10px; font-size:70px;color:#0000FF;"><span ><img class="col-md-6" src="logo2.png" style = "width:150px; height:auto"></span>CaseBar</label>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="background-color:#FF7F50; height:450px;">
              <p  style="font-size:30px; text-align:center; color:white; ">新會員註冊</p>
              <form id="signupForm" action="/signup" method="post" onSubmit="">
                <div class="form-group">
                  <input type="text" name="realname" required class="form-control" placeholder="姓名">
                </div>
                <div class="form-group">
                  <input type="text" name="username" required class="form-control" placeholder="帳號(信箱)">
                </div>
                <div class="form-group">
                  <input type="password" name="password" class="form-control" placeholder="密碼">
                </div>
                <div class="form-group">
                  <input type="password" name="" required class="form-control" placeholder="確認密碼">
                </div>
                <div class="form-group">
                  <input type="date" name="birthday" required class="form-control" placeholder="生日">
                </div>
                <div class="form-group">
                  <input type="text" name="email" required class="form-control" placeholder="電子信箱">
                </div>

                <div class="checkbox">
                  <label><input type="checkbox" value="" checked>Remember me</label>
                </div >
                  <button type="submit" style="text-align:center; margin-top:10px; border-color:white; width:100%; height: 50px;font-weight:bold; font-size: 20px; color:white;">註冊</button><br>
                  <button class="col-md-6" type="submit" style=" margin-top:10px; border-color:#4169E1; width:100%; height: 50px;font-weight:bold; font-size: 20px; background-color:#4169E1; color:white;"> <span><img class="col-md-6" src="facebook-modal.png" style = "height:25px;width:auto"></span>以facebook註冊</button><br>
                  <button class="col-md-6" type="submit" style=" margin-top:10px; border-color:#DC143C; width:100%; height: 50px;font-weight:bold; font-size: 20px; background-color:#DC143C; color:white;"> <span><img class="col-md-6" src="google-modal.png" style = "height:25px;width:auto"></span>以Google註冊</button>
              </form>
            </div>
            <div style="background-color: #f9f9f9" class="modal-footer">
              <p>已經註冊了? <a href="#">登入</a></p>
            </div>
          </div>
          
        </div>
      </div> 
    </div>

   <!-- 登入modal -->
    <div class="container">
      <!-- Modal -->
      <div class="modal fade" id="LogInModal" role="dialog">
        <div class="modal-dialog">   
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px; ">
            <label style="margin-top:10px; font-size:70px;color:#0000FF;"><span ><img class="col-md-6" src="logo2.png" style = "width:150px; height:auto"></span>CaseBar</label>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="background-color:#FF7F50; height:450px;">
              <p  style="font-size:30px; text-align:center; color:white; ">會員登入</p>
              <form id="loginForm" action="/login" method="post">
                <div class="form-group">
                  <input type="text" name="username" required class="form-control" placeholder="帳號(信箱)">
                </div>
                <div class="form-group">
                  <input type="password" name="password" required class="form-control" placeholder="密碼">
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="" checked>Remember me</label>
                </div >
                  <button type="submit" style="text-align:center; margin-top:10px; border-color:white; width:100%; height: 50px;font-weight:bold; font-size: 20px; color:white;">登入</button><br>
                  <button class="col-md-6" type="submit" style=" margin-top:10px; border-color:#4169E1; width:100%; height: 50px;font-weight:bold; font-size: 20px; background-color:#4169E1; color:white;"> <span><img class="col-md-6" src="facebook-modal.png" style = "height:25px;width:auto"></span>以facebook登入</button><br>
                  <button class="col-md-6" type="submit" style=" margin-top:10px; border-color:#DC143C; width:100%; height: 50px;font-weight:bold; font-size: 20px; background-color:#DC143C; color:white;"> <span><img class="col-md-6" src="google-modal.png" style = "height:25px;width:auto"></span>以Google登入</button>
              </form>
            </div>
            <div style="background-color:#f9f9f9; margin:auto;" class="modal-footer">
              <a href="#" class="col-md-offset-2"  >新會員註冊</a>
              <a href="#" class="col-md-offset-2"  >忘記密碼</a>
            </div>
          </div>
          
        </div>
      </div> 
    </div>
    <footer style="position:absolute; width:100%; left:0px;height:250px;">
        <div  class="col-md-4" style="font-family:Microsoft JhengHei; color: white; font-weight:bold; left:10%; ">
          <p style="margin-left: -7%;font-size: 40px; ">CaseBar</p> 
          <p style="font-size: 25px; ">接案酒吧</p>
          <br>
           <a href="#"><img src="facebook-footer.png" style = " margin-left: -8%; height:40px;"></a>
          <a href="#"><img src="instagram-footer.png" style = "height:40px;"></a>
          <a href="#"><img src="twitter-footer.png" style = "height:40px;"></a>
          <a href="#"><img src="letter-footer.png" style = "height:40px;"></a> 
        </div>
        <div  class="col-md-8" style="margin-top:  2%; font-family:Microsoft JhengHei; font-weight:bold;left:10%;"> 
          <a href="#"><p style="font-size: 15px; color: white;">關注我們</p></a>
          <a href="#"><p style="font-size: 15px; color: white;">我們在做什麼</p></a>
          <a href="#"><p style="font-size: 15px; color: white;">我們的特點</p></a>
          <a href="#"><p style="font-size: 15px; color: white;">我們是誰</p></a>
        </div>
    </footer>
  </body>
</html>