<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="style.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>
    <script src="https://use.fontawesome.com/ee324bca70.js"></script>
  <script type="text/javascript">
    function Typemouseover(x){
      x.style.color = "white";
      x.style.backgroundColor = "black";
    }
    function Typemouseout(x){
      x.style.color = "black";
      x.style.backgroundColor = "white";
    }
    function Navmouseover(x){
      x.style.textDecoration = "underline";
      x.style.textDecorationColor= "#0000FF";
    }
    function Navmouseout(x){
      x.style.textDecoration = "none";
    }
    function Mymouseover(x){
      var color_ = x.style.color;
      x.style.color = "white";
      x.style.backgroundColor = color_;
    }
    function Mymouseout(x){
      var color_ = x.style.backgroundColor;

      x.style.color = color_;
      x.style.backgroundColor = "rgba(1,1,1,0)";
    }
    function Reviewmouseover(x){

      x.style.boxShadow = "20px 20px 20px  #444444";
      x.style.transition = "box-shadow 0.8s,width 2s,height 2s";
      

    }
    function Reviewmouseout(x){
      x.style.boxShadow = "none";
     

    }

      //暫時寫死
      function getf2ePost(){
        $('.frontend_posts').show();
        $('.backend_posts').hide();
        $('.uiux_posts').hide();
        $('.photography_posts').hide();
        $('#allhot_posts').hide();
        $('#allnew_posts').hide();
      }

      function getbackPost(){
        $('.backend_posts').show();
        $('.uiux_posts').hide();
        $('.photography_posts').hide();
        $('.frontend_posts').hide();
        $('#allhot_posts').hide();
        $('#allnew_posts').hide();
      }

      function getuiuxPost(){
        $('.frontend_posts').hide();
        $('.backend_posts').hide();
        $('.uiux_posts').show();
        $('.photography_posts').hide();
        $('#allhot_posts').hide();
        $('#allnew_posts').hide();
      }

      function getphotoPost(){
        $('.backend_posts').hide();
        $('.uiux_posts').hide();
        $('.photography_posts').show();
        $('.frontend_posts').hide();
        $('#allhot_posts').hide();
        $('#allnew_posts').hide();
      }
      function getallPost(){
        $('.backend_posts').hide();
        $('.uiux_posts').hide();
        $('.photography_posts').hide();
        $('.frontend_posts').hide();
        $('#allhot_posts').show();
        $('#allnew_posts').show();
      }
      
    </script>

    <!-- 註冊modal用 -->
    <script>
      $(document).ready(function(){
        $("#signUpBtn").click(function(){
          $("#signUpModal").modal();
        });
      });
    </script>

    <!-- 登入modal用 -->
    <script >
      $(document).ready(function(){
        $("#LogInBtn").click(function(){
          $("#LogInModal").modal();
        });
      });
    </script>
    <style type="text/css">
      h2{
        font-weight: 10px;
        
      }

    </style>
    <body>
<% include common/navbar %>  
    <div class="container">
      <section style="margin-top:120px;">

        <script type="text/javascript">
          $("#inputTarget").keypress(function(e){
            code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13)
            {
              $("targetForm").submit();
            }
          });
        </script>
        <form action="/search" method="GET" id="targetForm">
          <input id="inputTarget" placeholder="搜索類型..." type="text" name="keyword" placeholder="SEARCH" class="search" style="background: url(search.png) no-repeat; background-size: 40px 30px; background-position:10px; height: 50px;width: 250px; padding-left: 60px; border-color:#0000FF;"> 
        </form>

        <button style="background-color: white; color: black; margin-left: 5px;border-color: black; height: 40px;width:70px;font-size: 20px;"onmouseover="Typemouseover(this)" onmouseout="Typemouseout(this)" name="postType" value="frontend" onclick="getf2ePost()">前端</button>
        <button style="background-color: white; color: black; margin-left: 5px; border-color: black;height: 40px;width: 70px;font-size: 20px;"onmouseover="Typemouseover(this)" onmouseout="Typemouseout(this)" name="postType" value="backend" onclick="getbackPost()">後端</button>
        <button style="background-color: white; color: black; margin-left: 5px;border-color: black;height: 40px;width: 70px;font-size: 20px;"onmouseover="Typemouseover(this)" onmouseout="Typemouseout(this)" name="postType" value="photography" onclick="getphotoPost()">攝影</button>
        <button style="background-color: white; color: black; margin-left: 5px;border-color: black;height: 40px;width: 70px; font-size: 20px;"onmouseover="Typemouseover(this)" onmouseout="Typemouseout(this)" name="postType" value="uiux" onclick="getuiuxPost()">UI/UX</button>
        <button style="background-color: white; color: black; margin-left: 5px;border-color: black;height: 40px;width: 70px; font-size: 20px;"onmouseover="Typemouseover(this)" onmouseout="Typemouseout(this)" name="postType" value="uiux" onclick="getallPost()">全部</button>
      </section>
      <section>
        <div class="card">
          <ul class="nav nav-tabs nav-justified">
            <li class="active"><a data-toggle="tab" href="#hotPost" style="font-size: 30px; ">熱門評論</a></li>
            <li><a data-toggle="tab" href="#newPost" style="font-size: 30px;">最新評論</a></li>
          </ul>
          <div class="tab-content">
            <div id="hotPost" class="tab-pane active">


            



              <div id="allhot_posts">
                <%for(var i =0; i< posts.length;i++) {%>
                <form action="/surfReview" method="POST">
                  <button onmouseover="Reviewmouseover(this)" onmouseout="Reviewmouseout(this)" onclick="location.href='reviewDetail'" style="border-radius: 0px; margin-left: 10%; margin-bottom: 5%; text-align: left;" type="submit" name='postId' class="box" value=<%=posts[i]._id%> >
                    <div class="reviewHeader " style="text-align: center;">
                      <h2><%=posts[i].posttitle %>　文章類別：　<%=posts[i].posttype %></h2> <!-- 要改的 -->
                    </div>
                    <div class="review">
                      <p><%=posts[i].postcontent %>
                      </p>
                    </div>
                    <div class = "reviewFooter">
                      <div class="col-md-3">
                        <img src="留言.png" style="height: 80%; float: left;">
                        <p class="commentNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postresponsenum%></p> 
                      </div>
                      <div  class="col-md-3">
                        <img src="agree.png" style="height: 80%;float: left;">
                        <p class="agreeNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postagree%></p>
                      </div>
                      <div  class="col-md-3">
                        <img src="disagree.png" style="height: 80%;float: left;">
                        <p class="disagreeNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postdisagree%></p>
                      </div>
                      <div class="col-md-3">
                        <img src="圍觀.png" style="height: 80%;float: left;">
                        <p class="seeNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postneutral%></p>
                      </div>
                    </div>          
                  </button>
                </form>

                <%}%>
              </div>



              <div class="backend_posts" hidden>

               <%for(var i =0; i< posts.length;i++) {%>
               <%if(posts[i].posttype=="backend"){%>
               <form action="/surfReview" method="POST">
                <button onmouseover="Reviewmouseover(this)" onmouseout="Reviewmouseout(this)" onclick="location.href='reviewDetail'" style="border-radius: 0px; margin-left: 10%; margin-bottom: 5%; text-align: left;" type="submit" name='postId' class="box" value=<%=posts[i]._id%> >
                  <div class="reviewHeader " style="text-align: center;">
                    <h2><%=posts[i].posttitle %>　文章類別：　<%=posts[i].posttype %></h2> <!-- 要改的 -->
                  </div>
                  <div class="review">
                    <p><%=posts[i].postcontent %>
                    </p>
                  </div>
                  <div class = "reviewFooter">
                    <div class="col-md-3">
                      <img src="留言.png" style="height: 80%; float: left;">
                      <p class="commentNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postresponsenum%></p> 
                    </div>
                    <div  class="col-md-3">
                      <img src="agree.png" style="height: 80%;float: left;">
                      <p class="agreeNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postagree%></p>
                    </div>
                    <div  class="col-md-3">
                      <img src="disagree.png" style="height: 80%;float: left;">
                      <p class="disagreeNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postdisagree%></p>
                    </div>
                    <div class="col-md-3">
                      <img src="圍觀.png" style="height: 80%;float: left;">
                      <p class="seeNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postneutral%></p>
                    </div>
                  </div>          
                </button>
              </form>
              <%}%>
              <%}%>
            </div>


            <div class="frontend_posts" hidden>
             <%for(var i =0; i< posts.length;i++) {%>
             <%if(posts[i].posttype=="frontend"){%>
             <form action="/surfReview" method="POST">
              <button onmouseover="Reviewmouseover(this)" onmouseout="Reviewmouseout(this)" onclick="location.href='reviewDetail'" style="border-radius: 0px; margin-left: 10%; margin-bottom: 5%; text-align: left;" type="submit" name='postId' class="box" value=<%=posts[i]._id%> >
                <div class="reviewHeader " style="text-align: center;">
                  <h2><%=posts[i].posttitle %>　文章類別：　<%=posts[i].posttype %></h2> <!-- 要改的 -->
                </div>
                <div class="review">
                  <p><%=posts[i].postcontent %>
                  </p>
                </div>
                <div class = "reviewFooter">
                  <div class="col-md-3">
                    <img src="留言.png" style="height: 80%; float: left;">
                    <p class="commentNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postresponsenum%></p> 
                  </div>
                  <div  class="col-md-3">
                    <img src="agree.png" style="height: 80%;float: left;">
                    <p class="agreeNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postagree%></p>
                  </div>
                  <div  class="col-md-3">
                    <img src="disagree.png" style="height: 80%;float: left;">
                    <p class="disagreeNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postdisagree%></p>
                  </div>
                  <div class="col-md-3">
                    <img src="圍觀.png" style="height: 80%;float: left;">
                    <p class="seeNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postneutral%></p>
                  </div>
                </div>          
              </button>
            </form>
            <%}%>
            <%}%>
          </div>

          <div class="uiux_posts" hidden>
           <%for(var i =0; i< posts.length;i++) {%>
           <%if(posts[i].posttype=="uiux"){%>
           <form action="/surfReview" method="POST">
            <button onmouseover="Reviewmouseover(this)" onmouseout="Reviewmouseout(this)" onclick="location.href='reviewDetail'" style="border-radius: 0px; margin-left: 10%; margin-bottom: 5%; text-align: left;" type="submit" name='postId' class="box" value=<%=posts[i]._id%> >
              <div class="reviewHeader " style="text-align: center;">
                <h2><%=posts[i].posttitle %>　文章類別：　<%=posts[i].posttype %></h2> <!-- 要改的 -->
              </div>
              <div class="review">
                <p><%=posts[i].postcontent %>
                </p>
              </div>
              <div class = "reviewFooter">
                <div class="col-md-3">
                  <img src="留言.png" style="height: 80%; float: left;">
                  <p class="commentNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postresponsenum%></p> 
                </div>
                <div  class="col-md-3">
                  <img src="agree.png" style="height: 80%;float: left;">
                  <p class="agreeNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postagree%></p>
                </div>
                <div  class="col-md-3">
                  <img src="disagree.png" style="height: 80%;float: left;">
                  <p class="disagreeNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postdisagree%></p>
                </div>
                <div class="col-md-3">
                  <img src="圍觀.png" style="height: 80%;float: left;">
                  <p class="seeNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postneutral%></p>
                </div>
              </div>          
            </button>
          </form>
          <%}%>
          <%}%>
        </div>

        <div class="photography_posts" hidden>
         <%for(var i =0; i< posts.length;i++) {%>
         <%if(posts[i].posttype=="photography"){%>
         <form action="/surfReview" method="POST">
          <button onmouseover="Reviewmouseover(this)" onmouseout="Reviewmouseout(this)" onclick="location.href='reviewDetail'" style="border-radius: 0px; margin-left: 10%; margin-bottom: 5%; text-align: left;" type="submit" name='postId' class="box" value=<%=posts[i]._id%> >
            <div class="reviewHeader " style="text-align: center;">
              <h2><%=posts[i].posttitle %>　文章類別：　<%=posts[i].posttype %></h2> <!-- 要改的 -->
            </div>
            <div class="review">
              <p><%=posts[i].postcontent %>
              </p>
            </div>
            <div class = "reviewFooter">
              <div class="col-md-3">
                <img src="留言.png" style="height: 80%; float: left;">
                <p class="commentNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postresponsenum%></p> 
              </div>
              <div  class="col-md-3">
                <img src="agree.png" style="height: 80%;float: left;">
                <p class="agreeNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postagree%></p>
              </div>
              <div  class="col-md-3">
                <img src="disagree.png" style="height: 80%;float: left;">
                <p class="disagreeNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postdisagree%></p>
              </div>
              <div class="col-md-3">
                <img src="圍觀.png" style="height: 80%;float: left;">
                <p class="seeNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postneutral%></p>
              </div>
            </div>          
          </button>
        </form>
        <%}%>
        <%}%>
      </div>

    </div> 
   
    <div id="newPost" class="tab-pane fade">


      <div id="allnew_posts">
        <%for(var i =0; i< posts.length;i++) {%>
        <form action="/surfReview" method="POST">
          <button onclick="location.href='reviewDetail'" style="border-radius: 0px; margin-left: 10%; margin-bottom: 5%; text-align: left;" type="submit" name='postId' class="box" value=<%=posts[i]._id%> >
            <div class="reviewHeader " style="text-align: center;">
              <h2><%=posts[i].posttitle %> 文章類別：　<%=posts[i].posttype %></h2> <!-- 要改的 -->
            </div>
            <div class="review">
              <p><%=posts[i].postcontent %>
              </p>
            </div>
            <div class = "reviewFooter">
              <div class="col-md-3">
                <img src="留言.png" style="height: 80%; float: left;">
                <p class="commentNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postresponsenum%></p> 
              </div>
              <div  class="col-md-3">
                <img src="agree.png" style="height: 80%;float: left;">
                <p class="agreeNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postagree%></p>
              </div>
              <div  class="col-md-3">
                <img src="disagree.png" style="height: 80%;float: left;">
                <p class="disagreeNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postdisagree%></p>
              </div>
              <div class="col-md-3">
                <img src="圍觀.png" style="height: 80%;float: left;">
                <p class="seeNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postneutral%></p>
              </div>
            </div>         
          </button>
        </form>
        <%}%>
      </div> 







      <div class="backend_posts" hidden>

       <%for(var i =0; i< posts.length;i++) {%>
       <%if(posts[i].posttype=="backend"){%>
       <form action="/surfReview" method="POST">
        <button onmouseover="Reviewmouseover(this)" onmouseout="Reviewmouseout(this)" onclick="location.href='reviewDetail'" style="border-radius: 0px; margin-left: 10%; margin-bottom: 5%; text-align: left;" type="submit" name='postId' class="box" value=<%=posts[i]._id%> >
          <div class="reviewHeader " style="text-align: center;">
            <h2><%=posts[i].posttitle %>　文章類別：　<%=posts[i].posttype %></h2> <!-- 要改的 -->
          </div>
          <div class="review">
            <p><%=posts[i].postcontent %>
            </p>
          </div>
          <div class = "reviewFooter">
            <div class="col-md-3">
              <img src="留言.png" style="height: 80%; float: left;">
              <p class="commentNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postresponsenum%></p> 
            </div>
            <div  class="col-md-3">
              <img src="agree.png" style="height: 80%;float: left;">
              <p class="agreeNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postagree%></p>
            </div>
            <div  class="col-md-3">
              <img src="disagree.png" style="height: 80%;float: left;">
              <p class="disagreeNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postdisagree%></p>
            </div>
            <div class="col-md-3">
              <img src="圍觀.png" style="height: 80%;float: left;">
              <p class="seeNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postneutral%></p>
            </div>
          </div>         
        </button>
      </form>
      <%}%>
      <%}%>
    </div>


    <div class="frontend_posts" hidden>
     <%for(var i =0; i< posts.length;i++) {%>
     <%if(posts[i].posttype=="frontend"){%>
     <form action="/surfReview" method="POST">
      <button onmouseover="Reviewmouseover(this)" onmouseout="Reviewmouseout(this)" onclick="location.href='reviewDetail'" style="border-radius: 0px; margin-left: 10%; margin-bottom: 5%; text-align: left;" type="submit" name='postId' class="box" value=<%=posts[i]._id%> >
        <div class="reviewHeader " style="text-align: center;">
          <h2><%=posts[i].posttitle %>　文章類別：　<%=posts[i].posttype %></h2> <!-- 要改的 -->
        </div>
        <div class="review">
          <p><%=posts[i].postcontent %>
          </p>
        </div>
        <div class = "reviewFooter">
          <div class="col-md-3">
            <img src="留言.png" style="height: 80%; float: left;">
            <p class="commentNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postresponsenum%></p> 
          </div>
          <div  class="col-md-3">
            <img src="agree.png" style="height: 80%;float: left;">
            <p class="agreeNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postagree%></p>
          </div>
          <div  class="col-md-3">
            <img src="disagree.png" style="height: 80%;float: left;">
            <p class="disagreeNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postdisagree%></p>
          </div>
          <div class="col-md-3">
            <img src="圍觀.png" style="height: 80%;float: left;">
            <p class="seeNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postneutral%></p>
          </div>
        </div>          
      </button>
    </form>
    <%}%>
    <%}%>
  </div>

  <div class="uiux_posts" hidden>
   <%for(var i =0; i< posts.length;i++) {%>
   <%if(posts[i].posttype=="uiux"){%>
   <form action="/surfReview" method="POST">
    <button onmouseover="Reviewmouseover(this)" onmouseout="Reviewmouseout(this)" onclick="location.href='reviewDetail'" style="border-radius: 0px; margin-left: 10%; margin-bottom: 5%; text-align: left;" type="submit" name='postId' class="box" value=<%=posts[i]._id%> >
      <div class="reviewHeader " style="text-align: center;">
        <h2><%=posts[i].posttitle %>　文章類別：　<%=posts[i].posttype %></h2> <!-- 要改的 -->
      </div>
      <div class="review">
        <p><%=posts[i].postcontent %>
        </p>
      </div>
      <div class = "reviewFooter">
        <div class="col-md-3">
          <img src="留言.png" style="height: 80%; float: left;">
          <p class="commentNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postresponsenum%></p> 
        </div>
        <div  class="col-md-3">
          <img src="agree.png" style="height: 80%;float: left;">
          <p class="agreeNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postagree%></p>
        </div>
        <div  class="col-md-3">
          <img src="disagree.png" style="height: 80%;float: left;">
          <p class="disagreeNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postdisagree%></p>
        </div>
        <div class="col-md-3">
          <img src="圍觀.png" style="height: 80%;float: left;">
          <p class="seeNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postneutral%></p>
        </div>
      </div>          
    </button>
  </form>
  <%}%>
  <%}%>
</div>

<div class="photography_posts" hidden>
 <%for(var i =0; i< posts.length;i++) {%>
 <%if(posts[i].posttype=="photography"){%>
 <form action="/surfReview" method="POST">
  <button onmouseover="Reviewmouseover(this)" onmouseout="Reviewmouseout(this)" onclick="location.href='reviewDetail'" style="border-radius: 0px; margin-left: 10%; margin-bottom: 5%; text-align: left;" type="submit" name='postId' class="box" value=<%=posts[i]._id%> >
    <div class="reviewHeader " style="text-align: center;">
      <h2><%=posts[i].posttitle %>　文章類別：　<%=posts[i].posttype %></h2> <!-- 要改的 -->
    </div>
    <div class="review">
      <p><%=posts[i].postcontent %>
      </p>
    </div>
    <div class = "reviewFooter">
      <div class="col-md-3">
        <img src="留言.png" style="height: 80%; float: left;">
        <p class="commentNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postresponsenum%></p> 
      </div>
      <div  class="col-md-3">
        <img src="agree.png" style="height: 80%;float: left;">
        <p class="agreeNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postagree%></p>
      </div>
      <div  class="col-md-3">
        <img src="disagree.png" style="height: 80%;float: left;">
        <p class="disagreeNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postdisagree%></p>
      </div>
      <div class="col-md-3">
        <img src="圍觀.png" style="height: 80%;float: left;">
        <p class="seeNumber" style="padding-top: 3%; font-size: 30px;"><%=posts[i].postneutral%></p>
      </div>
    </div>          
  </button>
</form>
<%}%>
<%}%>
</div>






</div>

</div>
</div>  
</section>
</div>

<% include common/footer %>  

</body>
</html>